* {
   margin: 0;
}

th, td {
   border: 1px dashed var(--border-color);
}

table {
   page-break-inside: avoid;
   border-collapse: collapse;
}

table.outer {
   width: 100%;
   height: 1105px;
   font-family: sans-serif;
   line-height: 1.6;
   font-size: 9pt;
   table-layout: fixed;
   page-break-after: always;
}

table.outer :is(th, td) {
   height: calc(100% / var(--rows));
   padding: 20px 30px;
   width: calc(100% / var(--columns));
}

table.inner {
   width: 100%;
   height: 100%;
}

table.inner tr * {
   border: none;
   padding: 0;
}

td.description {
   /* text-align: justify; */
}

th.module {
   vertical-align: top;
}

td.type {
   text-align: right;
   vertical-align: bottom;
}

td.page {
   text-align: left;
   vertical-align: bottom;
}

td.term {
   text-align: center;
}

table {
   border-spacing: 0;
}

ol.roman {
   list-style: lower-roman;
}
