<div class="card back">
   <div class="content">
      <div class="description">
         <%- description _%>
      </div>
      <%_ if (list.length > 0) { _%>
      <ol class="<%= listStyle %> list">
         <%_ list.forEach(function(item) { _%>
         <li><%- item _%></li>
         <%_ }) _%>
      </ol>
      <%_ } _%>
      <%_ if (footer) { _%>
      <div class="footer">
         <%- footer _%>
      </div>
      <%_ } _%>
   </div>
</div>
