<div class="card back">
   <div class="content">
      <%- description _%>
      <%_ if (list.length > 0) { %>
      <ol style="<%= listStyle %>">
         <% list.forEach(function(item) { %>
            <li><%- item _%></li>
         <% }) %>
      </ol>
      <%_ } %>
      <%_ if (footer) { %>
         <br><%- footer _%>
      <% } _%>
   </div>
</div>
