<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || "LaTeX in HTML" %></title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
  <link rel="stylesheet" href="shared/variables.css">
  <link rel="stylesheet" href="shared/main.css">

  <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"></script>
  <script defer src="shared/main.js"></script>

</head>
<body>
    <% pages.forEach(function(metadata) { %>
      <%- include('container-front', {metadata}) _%>
      <%- include('container-back', {metadata}) _%>
    <% }); %>
</body>
</html>
