<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flash Cards</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
  <link rel="stylesheet" href="shared/variables.css">
  <link rel="stylesheet" href="shared/main.css">

  <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"></script>
  <script defer src="shared/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.10/ejs.min.js"></script>

  <style>
    * {
      font-size: 10pt !important;
    }

    #card-holder {
      width: 400px;
      height: 300px;
      margin: 50px auto;
      /* box-shadow: 1px 1px 3px gray; */
      /* border-radius: 4px; */
      border: var(--border);
      cursor: default;
      user-select: none;
    }

    #card-back, #card-front {
      width: 100%;
      height: 100%;
    }

    .front .content {
      width: 100%;
      height: 100%;
    }

    .hidden {
      display: none;
    }

    .buttons {
      text-align: center;
      margin: 0 auto;
      width: 100%;
    }

    button {
      padding: 10px;
      width: 100px;
      margin: 0 5px;
    }
  </style>
</head>
<body>
    <div id="card-holder" onclick="toggleCard()">
      <div id="card-front"></div>
      <div class="hidden" id="card-back"></div>
    </div>
    <div class="buttons">
      <button onclick="backCard()">Back</button>
      <button onclick="nextCard()">Next</button>
    </div>
<script defer>
  const pages = <%- JSON.stringify(pages) _%>;

  const frontTemplate = `<div class="front card">
  <div class="content">
  <table>
    <tr><th class="heading" colspan="2"><?- heading _?></th></tr>
    <tr><td class="term" colspan="2"><?- term _?></td></tr>
    <tr><td class="page-number">
      <?_ if (isNaN(page)) { _?>
      <?- page _?>
      <?_ } else { _?>
      <?- "Page " + page _?>
      <?_ } _?>
    </td><td class="alias"><?- alias _?></td><tr>
  </table>
  </div>
</div>`;

  const backTemplate = `<div class="back card">
   <div class="content">
      <div class="description">
         <?- description _?>
      </div>
      <?_ if (list.length > 0) { _?>
      <ol class="<?= listStyle ?> list">
         <?_ list.forEach(function(item) { _?>
         <li><?- item _?></li>
         <?_ }) _?>
      </ol>
      <?_ } _?>
      <?_ if (footer) { _?>
      <div class="footer">
         <?- footer _?>
      </div>
      <?_ } _?>
   </div>
</div>`;

  const element = document.getElementById('card-holder');
  const cardFront = document.getElementById('card-front');
  const cardBack = document.getElementById('card-back');

  function choice(array) {
    return array[Math.floor(Math.random() * array.length)];
  }

  function toggleCard() {
    cardBack.classList.toggle('hidden');
    cardFront.classList.toggle('hidden');
  }

  let previous = [];
  let next = [];
  let current = null;

  function showCard(cardData) {
    cardFront.innerHTML = ejs.render(frontTemplate, cardData, { delimiter: '?' });
    cardBack.innerHTML = ejs.render(backTemplate, cardData, { delimiter: '?' });

    cardFront.className = '';
    cardBack.className = 'hidden';

    renderMathInElement(element, {
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '\\[', right: '\\]', display: true},
        {left: '$', right: '$', display: false}
      ],
      macros: {
        // aliases
        '\\N': '\\mathbb{N}',
        '\\Z': '\\mathbb{Z}',
        '\\Q': '\\mathbb{Q}',
        '\\R': '\\mathbb{R}',
        '\\C': '\\mathbb{C}',
        '\\te': '\\exist',
        '\\fa': '\\forall',
        '\\inv': '^{-1}',

        // new operators
        '\\t': '\\enskip\\text{#1}\\enskip',
        '\\Re': '\\thinspace\\text{Re}\\thinspace #1',
        '\\Im': '\\thinspace\\text{Im}\\thinspace #1',
        '\\lcm': '\\text{lcm}',
        '\\equivm': '\\thinspace\\equiv{\\thinspace #1}\\pmod #2',
      }
    })
  }

  function nextCard() {
    if (current)
      previous.push(current);

    if (next.length === 0)
      current = choice(choice(pages));
    else
      current = next.pop();

    showCard(current);
  }

  function backCard() {
    if (previous.length === 0)
      return;

    next.push(current);
    current = previous.pop();

    showCard(current);
  }

  nextCard();
</script>
</body>
</html>
