:root {
   --border-color: rgba(0, 0, 0, 8%);
   --border: 1px dashed var(--border-color);
   --font-family: sans-serif;
}

* {
   margin: 0;
   box-sizing: border-box;
   border-collapse: collapse;
}

body {
   font-family: sans-serif;
   line-height: 1.4;
   font-size: var(--font-size);
}

/* .katex .text { */
/*    font-family: var(--font-family); */
/*    font-size: var(--font-size); */
/* } */

.katex-display {
   margin-top: 0.6em;
   margin-bottom: 0.6em;
}

.container {
   display: grid;
   gap: 0;
   grid-template-columns: repeat(var(--columns), 1fr);
   grid-template-rows: repeat(var(--rows), 1fr);
   width: calc(var(--page-width) - var(--margin-left) - var(--margin-right));
   height: calc(var(--page-height) - var(--margin-top) - var(--margin-bottom));
   border: var(--border);
   page-break-after: always;
}

.card {
   --vertical-padding: 20px;
   --horizontal-padding: 30px;

   display: flex;
   width: 100%;
   height: 100%;
   padding: var(--vertical-padding) var(--horizontal-padding);
   align-items: center;
   justify-content: center;
   direction: ltr;
}

.card.back {
   --vertical-padding: 0;

   border-right: var(--border);
   border-bottom: var(--border);
}

/* Hacks to remove doubled borders */
.card.back:nth-child(<%- columns _%>n + 1) {
   border-right: 0;
}

.card.back:nth-child(n + <%- (columns * rows) - columns + 1%>) {
   border-bottom: 0;
}

.container.back {
   direction: rtl;
}

.card .content {
   vertical-align: center;
   align-items: center;
   justify-content: center;
}

.card.front .content {
   width: 100%;
}

.card .content table {
   width: 100%;
   height: 100%;
}

.card .content table td {
   width: 50%;
}

.card.front .content {
   display: flex;
   flex-direction: column;
   height: 100%;
   background-image: url('./delta.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto 50%;
}

/* .card .description, .card .footer { */
/*    text-align: justify; */
/* } */

.card .list {
   margin: 0.6em 0;
   line-height: 1.65;
}

.card .heading {
   text-align: center;
   vertical-align: top;
}

.card .alias {
   text-align: right;
   vertical-align: bottom;
}

.card .page-number {
   text-align: left;
   vertical-align: bottom;
}

.card .term {
   text-align: center;
   padding: 0 15%;
}

ol {
   padding-left: 2.1em;
}

ol li {
   padding-left: 0.4em;
}

ol.roman {
   list-style: lower-roman;
}

ol.decimal {
   list-style: decimal;
}

ol.alpha {
   list-style: lower-alpha;
}

ol:is(.bracket, .unnumbered) li {
   position: relative;
   counter-increment: list-counter;
   list-style: none;
}

ol:is(.bracket, .unnumbered) li::before {
   position: absolute;
   text-align: right;
   width: 2em;
   left: -2.2em;
}

ol.unnumbered li::before {
   content: '●';
}

ol.bracket.roman li::before {
   content: counter(list-counter, lower-roman) ")";
}

ol.bracket.decimal li::before {
   content: counter(list-counter, decimal) ")";
}

ol.bracket.alpha li::before {
   content: counter(list-counter, lower-alpha) ")";
}
