:root {
   --border-color: rgba(0, 0, 0, 8%);
}

* {
   margin: 0;
   box-sizing: border-box;
   border-collapse: collapse;
}

body {
   font-family: sans-serif;
   line-height: 1.4;
   font-size: var(--font-size);
}

.container {
   display: grid;
   width: calc(var(--page-width) - var(--margin-left) - var(--margin-right));
   height: calc(var(--page-height) - var(--margin-top) - var(--margin-bottom));
   page-break-after: always;
   grid-template-columns: repeat(var(--columns), 1fr);
   grid-template-rows: repeat(var(--rows), 1fr);
   gap: 0;
   border: 1px dashed var(--border-color);
}

.card {
   --vertical-padding: 20px;
   --horizontal-padding: 30px;

   display: flex;
   width: 100%;
   height: 100%;
   padding: var(--vertical-padding) var(--horizontal-padding);
   align-items: center;
   justify-content: center;
   direction: ltr;
}

.back .card {
   --vertical-padding: 0;

   border-right: 1px dashed var(--border-color);
   border-bottom: 1px dashed var(--border-color);
}

/* Hacks to remove doubled borders */
.back .card:nth-child(<%- columns _%>n + 1) {
   border-right: 0;
}

.back .card:nth-child(n + <%- (columns * rows) - columns + 1%>) {
   border-bottom: 0;
}

.container.back {
   direction: rtl;
}

.card .content {
   width: 100%;
   vertical-align: center;
   align-items: center;
   justify-content: center;
}

.card .content table {
   width: 100%;
   height: 100%;
}

.card .content table td {
   width: 50%;
}

.front .card .content {
   display: flex;
   flex-direction: column;
   height: 100%;
}

/* .card .description { */
   /* background-color: red; */
/* } */

.card .list {
   margin: 0.6em 0;
   line-height: 1.65;
}

.card .heading {
   text-align: center;
   vertical-align: top;
}

.card .name {
   text-align: right;
   vertical-align: bottom;
}

.card .page-number {
   text-align: left;
   vertical-align: bottom;
}

.card .term {
   text-align: center;
   padding: 0 15%;
}

ol.roman {
   list-style: lower-roman;
}

ol.decimal {
   list-style: decimal;
}
